@font-face {
    font-family: ProximaNova;
    src: url(../fonts/Proxima-Nova-Regular.otf);
    font-weight: 400
}

@font-face {
    font-family: ProximaNova;
    src: url(../fonts/Proxima-Nova-Bold.otf);
    font-weight: 700
}

@font-face {
    font-family: ProximaNova;
    src: url(../fonts/Proxima-Nova-Light.otf);
    font-weight: 300
}

@font-face {
    font-family: ProximaNova;
    src: url(../fonts/Proxima-Nova-Semibold.otf);
    font-weight: 600
}

html {
    font-size: 62.5%!important
}

body {
    font-family: ProximaNova, sans-serif!important;
    font-weight: 300
}
.col-lg-15,
.col-md-15,
.col-sm-15,
.col-xs-15 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px
}

.col-xs-15 {
    width: 20%;
    float: left
}

@media (min-width:768px) {
    .col-sm-15 {
        width: 20%;
        float: left
    }
}

@media (min-width:992px) {
    .col-md-15 {
        width: 20%;
        float: left
    }
}

@media (min-width:1200px) {
    .col-lg-15 {
        width: 20%;
        float: left
    }
}

p {
    margin: 0
}

.thanks .desc,
.thanks .zag,
.thanks2 .desc,
.thanks2 .zag {
    z-index: 9999;
    position: relative;
    margin-bottom: 20px;
    text-align: center
}

.thanks,
.thanks2 {
    padding: 30px;
    position: relative;
    max-width: 700px;
    background-color: #fff;
    border-radius: 0;
    border: 10px solid #a5342e;
    color: #fff
}

.thanks .zag,
.thanks2 .zag {
    font-size: 24px;
    line-height: normal;
    color: #000;
    font-weight: 400
}

.thanks .desc,
.thanks2 .desc {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    color: #7d7d7d;
    font-style: italic;
    font-size: 16px;
    font-family: Roboto!important;
    font-weight: 300
}

.thanks .soc,
.thanks2 .soc {
    margin: auto;
    display: block;
    text-align: center
}

.thanks .soc a:hover,
.thanks2 .soc a:hover {
    -webkit-filter: brightness(1.2);
    filter: brightness(1.2)
}

.thanks2 i.fa.fa-vk {
    font-size: 4rem
}

.popups {
    display: none
}

.box-modal_close {
    height: 23px;
    z-index: 1001;
    background-color: transparent;
    width: 23px;
    opacity: 1!important;
    top: -42px;
    position: absolute;
    right: 24px;
    cursor: pointer
}

body .abs,
body .overlay {
    right: 0;
    left: 0;
    bottom: 0
}

.box-modal_close span {
    color: #fff;
    font-weight: 300;
    font-size: 1.4rem;
    letter-spacing: 1px;
    padding-bottom: 1px;
    border-bottom: 1px solid #fff
}

.popup,
.popup1,
.popup2,
.popup3,
.popup4,
.popup5,
.popup6,
.popup7,
.popup8,
.popupz {
    padding: 30px;
    position: relative;
    max-width: 1200px;
    background-color: #fff;
    border-radius: 0;
    border: 10px solid #a5342e;
    width: 540px;
    color: #fff
}

.popup .zag,
.popup1 .zag,
.popup2 .zag,
.popup3 .zag,
.popup4 .zag,
.popup5 .zag,
.popup6 .zag,
.popup7 .zag,
.popup8 .zag,
.popupz .zag {
    position: relative;
    font-size: 24px;
    letter-spacing: 1px;
    word-spacing: 3px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 15px;
    color: #000;
    line-height: normal;
    font-weight: 300
}

.popup .line,
.popup1 .line,
.popup2 .line,
.popup3 .line,
.popup4 .line,
.popup5 .line,
.popup6 .line,
.popup7 .line,
.popup8 .line,
.popupz .line {
    height: 1px;
    width: 40px;
    background-color: #ccc;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto
}

.popup ul,
.popup1 ul,
.popup2 ul,
.popup3 ul,
.popup4 ul,
.popup5 ul,
.popup6 ul,
.popup7 ul,
.popup8 ul,
.popupz ul {
    padding-left: 0
}

.popup li,
.popup1 li,
.popup2 li,
.popup3 li,
.popup4 li,
.popup5 li,
.popup6 li,
.popup7 li,
.popup8 li,
.popupz li {
    list-style-position: inside;
    list-style-type: none;
    margin-bottom: 5px;
    padding-left: 0
}

.popup .desc,
.popup1 .desc,
.popup2 .desc,
.popup3 .desc,
.popup4 .desc,
.popup5 .desc,
.popup6 .desc,
.popup7 .desc,
.popup8 .desc,
.popupz .desc {
    position: relative;
    color: #7d7d7d;
    text-align: center;
    font-style: italic;
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 300;
    font-family: Roboto!important
}

.popup .desc span,
.popup1 .desc span,
.popup2 .desc span,
.popup3 .desc span,
.popup4 .desc span,
.popup5 .desc span,
.popup6 .desc span,
.popup7 .desc span,
.popup8 .desc span,
.popupz .desc span {
    display: block;
    margin-bottom: 10px
}

.popup div.desc,
.popup1 div.desc,
.popup2 div.desc,
.popup3 div.desc,
.popup4 div.desc,
.popup5 div.desc,
.popup6 div.desc,
.popup7 div.desc,
.popup8 div.desc,
.popupz div.desc {
    font-size: 3rem;
    color: #000
}

.popup .form,
.popup1 .form,
.popup2 .form,
.popup3 .form,
.popup4 .form,
.popup5 .form,
.popup6 .form,
.popup7 .form,
.popup8 .form,
.popupz .form {
    background-color: transparent;
    height: 40px;
    border-radius: 0;
    margin-top: 20px;
    width: 100%
}

.popup form,
.popup1 form,
.popup2 form,
.popup3 form,
.popup4 form,
.popup5 form,
.popup6 form,
.popup7 form,
.popup8 form,
.popupz form {
    text-align: center
}

.popup input,
.popup1 input,
.popup2 input,
.popup3 input,
.popup4 input,
.popup5 input,
.popup6 input,
.popup7 input,
.popup8 input,
.popupz input {
    background-color: #fff;
    color: #b0b0b0;
    width: 240px;
    padding-left: 15px;
    height: 44px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 15px;
    font-weight: 300;
    font-size: 1.6rem;
    display: block;
    border: 1px solid #ccc;
    border-radius: 5px;
    vertical-align: top;
    outline: none;
}




.popup1 input:focus{
  border: 1px solid #ccc;
  outline: none;
  box-shadow: none;  
}






.popup button,
.popup1 button,
.popup2 button,
.popup3 button,
.popup4 button,
.popup5 button,
.popup6 button,
.popup7 button,
.popup8 button,
.popupz button {
    vertical-align: top;
    cursor: pointer;
    margin-right: auto;
    margin-left: auto;
    display: block;
    text-align: center;
    position: relative;
    background: #d14a43;
    
    color: #fff;
    border-radius: 5px;
    border: none;
    text-transform: uppercase;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 45px;
    font-family: proxima_nova_rgbold;
    letter-spacing: 2px;
/*    box-shadow: 0 10px 10px 0 transparent;
    -webkit-transition: .3s;*/
    transition: .3s;
    height: 45px;
    width: 240px
}

.popup button img,
.popup1 button img,
.popup2 button img,
.popup3 button img,
.popup4 button img,
.popup5 button img,
.popup6 button img,
.popup7 button img,
.popup8 button img,
.popupz button img {
    position: relative;
    top: -4px;
    margin-left: 10px
}

.popup button:hover,
.popup1 button:hover,
.popup2 button:hover,
.popup3 button:hover,
.popup4 button:hover,
.popup5 button:hover,
.popup6 button:hover,
.popup7 button:hover,
.popup8 button:hover,
.popupz button:hover {
   /* box-shadow: 0 10px 30px 0 rgba(0, 0, 0, .3);*/
    background-color: #a5342e;
    color: #fff;
    -webkit-transition: .3s;
    transition: .3s
}

.popup .min,
.popup1 .min,
.popup2 .min,
.popup3 .min,
.popup4 .min,
.popup5 .min,
.popup6 .min,
.popup7 .min,
.popup8 .min,
.popupz .min {
    padding-top: 16px;
    text-align: center;
    color: #7d7d7d;
    display: block;
    margin: auto;
    clear: both;
    font-size: 1.6rem;
    font-family: Roboto!important;
    font-weight: 300
}

.ymaps-b-balloon__bl,
.ymaps-b-balloon__br,
.ymaps-b-balloon__tl,
.ymaps-b-balloon__tr,
.ymaps-copyrights-legend,
.ymaps-copyrights-logo,
.ymaps-shadows-pane {
    display: none!important
}

body .content .desc span,
body .content .nextblock h3,
body .content .width .plach .name,
body .content button,
body .content h1 {
    font-family: proxima_nova_rgbold
}

.popup .min i,
.popup1 .min i,
.popup2 .min i,
.popup3 .min i,
.popup4 .min i,
.popup5 .min i,
.popup6 .min i,
.popup7 .min i,
.popup8 .min i,
.popupz .min i {
    margin-right: 7px
}

.ymaps-b-balloon__content {
    border: none!important;
    height: 290px;
    width: 306px;
    background-color: transparent!important;
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(enabled=false)"!important;
    filter: none!important;
    -webkit-filter: grayscale(0)!important
}

.ymaps-b-balloon__content-holster {
    padding: 0!important
}

.ymaps-b-balloon__content>ymaps {
    height: 290px;
    width: 306px;
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(enabled=false)"!important;
    filter: none!important;
    -webkit-filter: grayscale(0)!important
}

ymaps {
    filter: gray;
    -webkit-filter: grayscale(1)
}

body {
    background-color: #000;
    overflow-x: hidden;
    height: 100%;
    width: 100%;
    position: relative
}

body .overlay {
    background-image: url(../img/bgmain2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background-position: center top;
    -webkit-transition: .3s;
    transition: .3s
}

body .overlay.filter {
    -webkit-transition: .3s;
    transition: .3s;
    -webkit-filter: blur(3px);
    filter: blur(3px);
    -webkit-transform: scale(1.008, 1);
    -ms-transform: scale(1.008, 1);
    transform: scale(1.008, 1)
}

body header {
    background-color: #fff;
    position: relative;
    z-index: 2
}

body header nav {
    margin-bottom: 0;
    width: 100%
}

body header nav ul {
    padding-left: 0;
    margin-bottom: 0;
    font-weight: 300;
    width: 100%
}

body header nav ul li:first-child {
   
    padding-right: 50px
}

body header nav ul li {
    display: inline-block;
    vertical-align: top;
    padding-top: 10px;
    padding-bottom: 10px;
    list-style-type: none
}

body header nav ul li:last-child {
    float: right;
    margin-top: 5px
}

body header nav ul li:last-child span {
    font-size: 1.4rem
}

body header nav ul p {
    margin-top: 0;
    margin-bottom: 0
}

body header nav ul p.callback {
    font-size: 1.6rem;
    margin-top: 10px;
    margin-left: 150px;
    cursor: pointer;
    border-bottom: 1px dotted #171717
}

body header nav ul p.callback:hover {
/*    color: #a18f30;
    border-color: #a18f30*/
}

body header nav ul .text-right {
    width: 280px
}

body header nav ul .phone {
    text-align: right;
    width: 100%
}

body header nav ul .phone a {
    display: block;
    text-align: right;
    margin-left: auto;
    color: #171717;
    font-size: 1.6rem
}

body header nav ul .phone a i {
    margin-right: 10px;
    position: relative
}

body header nav ul .phone a:nth-child(1) {
    margin-bottom: 5px
}

body header nav ul .phone a:hover {
    text-decoration: none
}

body header nav ul .logo {
    font-size: 2rem;
    font-weight: 400;
    color: #171717
}

body header nav ul .logo img {
    height: 50px
}

body header nav ul .zag {
    font-size: 1.4rem;
    margin-left: 30px;
    margin-top: 6px
}

body header nav ul .underlogo {
    color: #171717
}

body .content {
    text-align: center;
    padding-top: 100px;
    z-index: 22;
    position: relative
}

body .content .width {
    width: 1050px;
    text-align: center;
    background-color: #fff;
    margin: 80px auto 100px
}

body .content .width .plach {
    display: inline-block;
    width: 33.333333%;
    padding: 12px;
    font-weight: 300;
    border-right: 1px solid #e9e9e9
}

body .content .width .plach .name {
    font-size: 1.6rem;
    margin-bottom: 10px
}

body .content .width .plach * {
    vertical-align: top
}

body .content .width .plach img {
    height: 60px;
    margin-bottom: 15px
}

body .content .width .plach:last-child {
    border: none
}

body .content h1 {
    font-size: 3.6rem;
    color: #fff;
    margin-bottom: 30px
}

body .content .desc {
    font-size: 2rem;
    color: #fff;
    font-weight: 300
}

body .content .desc span {
    letter-spacing: 1px
}

body .content button {
    margin-top: 45px;
    border-radius: 5px;
    border: 2px solid #a5342e;
    color: #fff;
    height: 45px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: transparent;
    font-weight: 600;
    font-size: 2.2rem;
    line-height: 39px;
    -webkit-transition: .3s;
    transition: .3s;
    background-color: rgba(0, 0, 0, .4)
}

body .content button i {
    margin-left: 10px
}

body .content button:hover {
    background-color: #a5342e;
    -webkit-transition: .3s;
    transition: .3s;
    color: #fff
}

body .content .soc {
    margin-top: 15px;
    margin-bottom: 15px
}

body .content .soc a:hover {
    -webkit-filter: brightness(1.2);
    filter: brightness(1.2)
}

body .content .line2 {
    height: 1px;
    background: rgba(255, 255, 255, 0);
    background: -webkit-linear-gradient(0deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, .5), rgba(255, 255, 255, 0));
    background: linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, .5), rgba(255, 255, 255, 0));
    width: 1100px;
    margin-left: auto;
    margin-right: auto
}

body .content .nextblock .progress-wrapper {
    display: none;
    background: 0 0;
    height: 12px;
    background-color: rgba(0, 0, 0, .7);
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px 0 rgba(200, 177, 55, .5);
    overflow: hidden;
    padding-left: 0;
    max-width: 785px;
    position: relative;
    margin-top: 10px;
    text-align: left
}

body .content .nextblock .progress-wrapper .progress-line {
    text-align: left;
    vertical-align: top;
    display: inline-block;
    height: 14px;
    background: url(../img/ajax-loader.gif) left top repeat-x;
    border-radius: 8px 0 0 9px
}

body .content .nextblock .progress-wrapper .progress-value {
    color: #fff;
    position: absolute;
    width: 100%;
    text-align: center;
    top: -2px;
    font-size: 11px
}

body .content .nextblock .fades3 label,
body .content .nextblock .fades4 label,
body .content .nextblock .fades5 label {
    width: 30%!important;
    display: inline-block!important;
    vertical-align: top;
    margin-right: 20px;
    padding-bottom: 20px!important
}

body .content .nextblock .fades3 label img,
body .content .nextblock .fades4 label img,
body .content .nextblock .fades5 label img {
    margin-bottom: 20px;
    border-radius: 10px;
    margin-top: 10px
}

body .content .nextblock .fades3 label .text,
body .content .nextblock .fades4 label .text,
body .content .nextblock .fades5 label .text {
    margin-top: 4px!important
}

body .content .nextblock .fades5 label {
    width: 47%!important;
    padding-bottom: 10px!important
}

body .content .nextblock .form,
body .content .nextblock .form form {
    margin-top: 30px
}

body .content .nextblock .form .zag {
    color: #fff;
    font-size: 2.2rem;
    margin-bottom: 20px
}

body .content .nextblock .form form input {
    width: 210px;
    font-size: 1.6rem;
    font-weight: 300;
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
    padding-left: 15px;
    height: 45px
}

body .content .nextblock .form form button {
    vertical-align: top;
    font-size: 1.4rem;
    letter-spacing: 0;
    width: 260px;
    box-shadow: none;
    margin-top: 0;
    display: inline-block!important
}

body .content .nextblock .form .desc {
    font-size: 1.8rem;
    line-height: normal
}

body .content .nextblock .fades6 label {
    display: inline-block!important;
    vertical-align: top;
    margin-right: 20px;
    padding-bottom: 20px!important;
    width: 47%!important
}

body .content .nextblock .fades6 label img {
    margin-bottom: 20px;
    border-radius: 10px;
    max-height: 212px;
    margin-top: 10px
}

body .content .nextblock .fades6 .checkin {
    position: relative;
    top: 8px
}

body .content .nextblock p.callbacks {
    color: #fff;
    font-size: 1.6rem;
    margin-top: 20px;
    text-decoration: underline;
    cursor: pointer
}

body footer .container .politics a:hover,
body footer .container .text-right a:hover {
    text-decoration: none
}

body .content .nextblock .fades2 .quest,
body .content .nextblock .fades2 h2,
body .content .nextblock .fades3 .quest,
body .content .nextblock .fades3 h2,
body .content .nextblock .fades4 .quest,
body .content .nextblock .fades4 h2,
body .content .nextblock .fades7 .quest,
body .content .nextblock .fades7 h2 {
    text-align: center
}

body .content .nextblock .fades2 label,
body .content .nextblock .fades3 label,
body .content .nextblock .fades4 label,
body .content .nextblock .fades7 label {
    display: inline-block!important;
    vertical-align: top;
    margin-right: 20px;
    padding-bottom: 10px!important;
    width: 47%!important
}

body .content .nextblock .fades2 label img,
body .content .nextblock .fades3 label img,
body .content .nextblock .fades4 label img,
body .content .nextblock .fades7 label img {
    margin-bottom: 20px;
    border-radius: 10px;
    max-height: 212px;
    margin-top: 10px
}

body .content .nextblock .fades2 input,
body .content .nextblock .fades3 input,
body .content .nextblock .fades4 input,
body .content .nextblock .fades7 input {
    height: 40px;
    border-radius: 4px;
    border: 2px solid #a5342e;
    background-color: transparent;
    padding-left: 20px;
    width: 100%;
    color: #fff;
    font-size: 1.6rem
}

body .content .nextblock .border {
    height: 100%;
    padding: 20px;
    border: 5px solid #fff;
    text-align: center;
    color: #fff;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, .2)
}

body .content .nextblock .border .zag {
    line-height: normal;
    font-size: 1.4rem
}

body .content .nextblock .border .zag span {
    font-size: 1.6rem;
    font-weight: 500
}

body .content .nextblock .border .counter,
body .content .nextblock .border .counter span {
    font-size: 3rem;
    font-weight: 500;
    color: #fff
}

body .content .nextblock .border .counter {
    margin-top: 15px
}

body .content .nextblock .border2 {
    padding: 20px;
    text-align: center;
    background-color: rgba(0, 0, 0, .5);
    border-radius: 10px;
    margin-top: 10px;
    border: 2px solid #fff;
}

body .content .nextblock .border2 .descer {
    color: #fff;
    font-size: 1.4rem;
    text-align: center;
    margin-bottom: 15px
}

body .content .nextblock .border2 button {
    margin-top: 0;
    color:#fff;
    width: 100%!important;
    min-width: 100%
}

body .content .nextblock .border2 button:hover {
    opacity: 1
}

body .content .nextblock .border2 input {
    border: 1px solid rgba(255, 255, 255, .7);
    border-radius: 5px;
    margin-bottom: 10px;
    color: #fff!important;
    background-color: transparent
}

body .content .nextblock .border2 .zag {
    font-size: 1.8rem;
    margin-bottom: 5px;
    color: #fff
}

body .content .nextblock .fades3,
body .content .nextblock .fades4,
body .content .nextblock .fades5,
body .content .nextblock .fades6,
body .content .nextblock .fades7,
body .content .nextblock .fades8 {
    display: none
}

body .content .nextblock .fades3 input,
body .content .nextblock .fades4 input,
body .content .nextblock .fades5 input,
body .content .nextblock .fades6 input,
body .content .nextblock .fades7 input,
body .content .nextblock .fades8 input {
    height: 40px;
    border-radius: 4px;
    border: 2px solid #a5342e;
    background-color: transparent;
    padding-left: 20px;
    width: 100%;
    color: #fff;
    font-size: 1.6rem
}

body .content .nextblock .quest {
    color: #fff!important;
    font-weight: 300;
    margin-bottom: 60px
}

body .content .nextblock form input {
    color: #222!important
}

body .content .nextblock .fades8 {
    text-align: center
}

body .content .nextblock .fades8 form {
    margin-top: 30px;
    text-align: center
}

body .content .nextblock .fades8 form input {
    width: 230px;
    font-size: 1.6rem;
    font-weight: 300;
    background-color: #fff;
    vertical-align: top;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 15px;
    height: 45px
}

body .content .nextblock .fades8 form input[name=name],
body .content .nextblock .fades8 form input[name=phone],
body .content .nextblock .fades8 form input[name=city] {
    display: inline-block
}

body .content .nextblock .fades8 form button {
    vertical-align: top;
    font-size: 2rem;
    display: inline-block!important;
    width: 230px!important;
    margin-left: 10px;
    margin-right: 10px;
    box-shadow: none;
    margin-top: 0
}

body .content .nextblock .fades8 img {
    width: 100%;
    margin-bottom: 30px;
    border-bottom: 1px solid rgba(255, 255, 255, .3)
}

body .content .nextblock .fades8 .namer {
    font-weight: 300
}

body .content .nextblock .fades8 .quest,
body .content .nextblock .fades8 h3 {
    text-align: center
}

body .content .nextblock .fades8 .text {
    text-align: center;
    margin-top: 85px;
    font-size: 1.9rem;
    background-color: #fff;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    padding: 20px;
    font-weight: 300
}

body .content .nextblock .fades8 .text * {
    color: #000
}

body .content .nextblock .fades8 .text div {
    margin-bottom: 20px
}

body .content .nextblock .fades8 .text div:last-child {
    margin-bottom: 0
}

body .content .nextblock .fades8 .text .counternew {
    color: #a5342e;
    font-weight: 700;
    font-family: proxima_nova_rgbold;
    font-size: 2.4rem
}

body .content .nextblock .fades8 button {
    margin-top: 0;
    display: block!important;
    width: 250px!important
}

body .content .nextblock .fades8 input {
    border: 1px solid rgba(255, 255, 255, .7);
    border-radius: 5px;
    margin-bottom: 10px;
    color: #fff;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(0, 0, 0, .7)
}

body footer .container .politics a span,
body footer .container .text-right a span {
    border-bottom: 1px solid #fff
}

body .content .nextblock .blockbtn.mybtn_white,
body .content .nextblock .fades2 .blockbtn.mybtn_white,
body .content .nextblock .fades3 .blockbtn.mybtn_white,
body .content .nextblock .fades4 .blockbtn.mybtn_white,
body .content .nextblock .fades5 .blockbtn.mybtn_white,
body .content .nextblock .fades6 .blockbtn.mybtn_white,
body .content .nextblock .fades7 .blockbtn.mybtn_white {
    display: inline-block!important;
    margin-bottom: 40px
}

body .content .nextblock button {
    margin-top: 25px
}

body .content .nextblock .fades2,
body .content .nextblock .fades3,
body .content .nextblock .fades4,
body .content .nextblock .fades5,
body .content .nextblock .fades6,
body .content .nextblock .fades7 {
    position: relative;
    z-index: 8888
}

body .content .nextblock .fades2 .mybtn_white,
body .content .nextblock .fades3 .mybtn_white,
body .content .nextblock .fades4 .mybtn_white,
body .content .nextblock .fades5 .mybtn_white,
body .content .nextblock .fades6 .mybtn_white,
body .content .nextblock .fades7 .mybtn_white {
    display: inline-block!important;
    margin-left: 10px!important;
    margin-right: 10px!important
}

body .content .nextblock .fades2 .nexts2,
body .content .nextblock .fades2 .nexts3,
body .content .nextblock .fades2 .nexts4,
body .content .nextblock .fades2 .nexts5,
body .content .nextblock .fades2 .nexts6,
body .content .nextblock .fades2 .nexts7,
body .content .nextblock .fades3 .nexts2,
body .content .nextblock .fades3 .nexts3,
body .content .nextblock .fades3 .nexts4,
body .content .nextblock .fades3 .nexts5,
body .content .nextblock .fades3 .nexts6,
body .content .nextblock .fades3 .nexts7,
body .content .nextblock .fades4 .nexts2,
body .content .nextblock .fades4 .nexts3,
body .content .nextblock .fades4 .nexts4,
body .content .nextblock .fades4 .nexts5,
body .content .nextblock .fades4 .nexts6,
body .content .nextblock .fades4 .nexts7,
body .content .nextblock .fades5 .nexts2,
body .content .nextblock .fades5 .nexts3,
body .content .nextblock .fades5 .nexts4,
body .content .nextblock .fades5 .nexts5,
body .content .nextblock .fades5 .nexts6,
body .content .nextblock .fades5 .nexts7,
body .content .nextblock .fades6 .nexts2,
body .content .nextblock .fades6 .nexts3,
body .content .nextblock .fades6 .nexts4,
body .content .nextblock .fades6 .nexts5,
body .content .nextblock .fades6 .nexts6,
body .content .nextblock .fades6 .nexts7,
body .content .nextblock .fades7 .nexts2,
body .content .nextblock .fades7 .nexts3,
body .content .nextblock .fades7 .nexts4,
body .content .nextblock .fades7 .nexts5,
body .content .nextblock .fades7 .nexts6,
body .content .nextblock .fades7 .nexts7 {
    display: none!important
}

body .content .nextblock .fades2 .block,
body .content .nextblock .fades3 .block,
body .content .nextblock .fades4 .block,
body .content .nextblock .fades5 .block,
body .content .nextblock .fades6 .block,
body .content .nextblock .fades7 .block {
    padding-left: 40px
}

body .content .nextblock .fades2 .block .quest,
body .content .nextblock .fades3 .block .quest,
body .content .nextblock .fades4 .block .quest,
body .content .nextblock .fades5 .block .quest,
body .content .nextblock .fades6 .block .quest,
body .content .nextblock .fades7 .block .quest {
    color: #000;
    font-weight: 500;
    margin-top: 20px;
    font-size: 1.6rem
}

body .content .nextblock .fades2 .block h3,
body .content .nextblock .fades3 .block h3,
body .content .nextblock .fades4 .block h3,
body .content .nextblock .fades5 .block h3,
body .content .nextblock .fades6 .block h3,
body .content .nextblock .fades7 .block h3 {
    margin-top: 10px;
    margin-bottom: 30px;
    color: #fff;
    font-size: 3.6rem
}

body .content .nextblock .fades2 .block button,
body .content .nextblock .fades3 .block button,
body .content .nextblock .fades4 .block button,
body .content .nextblock .fades5 .block button,
body .content .nextblock .fades6 .block button,
body .content .nextblock .fades7 .block button {
    display: none;
    margin-left: auto;
    margin-right: auto
}

body .content .nextblock .fades2 .block label,
body .content .nextblock .fades3 .block label,
body .content .nextblock .fades4 .block label,
body .content .nextblock .fades5 .block label,
body .content .nextblock .fades6 .block label,
body .content .nextblock .fades7 .block label {
    width: 100%;
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 10px;
    background-color: rgba(0, 0, 0, .7);
    color: #fff;
    font-size: 1.4rem;
    font-weight: 400;
    cursor: pointer
}

body .content .nextblock .fades2 .block label .div .checkin,
body .content .nextblock .fades3 .block label .div .checkin,
body .content .nextblock .fades4 .block label .div .checkin,
body .content .nextblock .fades5 .block label .div .checkin,
body .content .nextblock .fades6 .block label .div .checkin,
body .content .nextblock .fades7 .block label .div .checkin {
    border: 1px solid #fff;
    border-radius: 5px;
    height: 30px;
    width: 30px;
    display: inline-block;
    vertical-align: top;
    position: relative
}

body .content .nextblock .fades2 .block label .div .checkin i,
body .content .nextblock .fades3 .block label .div .checkin i,
body .content .nextblock .fades4 .block label .div .checkin i,
body .content .nextblock .fades5 .block label .div .checkin i,
body .content .nextblock .fades6 .block label .div .checkin i,
body .content .nextblock .fades7 .block label .div .checkin i {
    position: absolute;
    right: 0;
    left: 0;
    color: #fff;
    top: 0;
    bottom: 0;
    width: 20px;
    font-size: 2.2rem;
    height: 20px;
    margin: auto
}

body .content .nextblock .fades2 .block label .div .text,
body .content .nextblock .fades3 .block label .div .text,
body .content .nextblock .fades4 .block label .div .text,
body .content .nextblock .fades5 .block label .div .text,
body .content .nextblock .fades6 .block label .div .text,
body .content .nextblock .fades7 .block label .div .text {
    display: inline-block;
    margin-top: 3px;
    width: 230px;
    text-align: left;
    font-size: 1.6rem;
    padding-left: 15px;
    font-weight: 300;
    vertical-align: top;
    margin-left: 10px
}

body footer,
body footer .container {
    vertical-align: bottom
}

body .content .nextblock .fades2 .block label .div .mtps,
body .content .nextblock .fades3 .block label .div .mtps,
body .content .nextblock .fades4 .block label .div .mtps,
body .content .nextblock .fades5 .block label .div .mtps,
body .content .nextblock .fades6 .block label .div .mtps,
body .content .nextblock .fades7 .block label .div .mtps {
    margin-top: -4px
}

body footer {
    padding-top: 15px;
    padding-bottom: 15px;
    color: #fff
}

body footer .container .politics a {
    font-size: 1.4rem;
    font-weight: 300;
    color: #fff
}

body footer .container .politics a i {
    margin-right: 10px
}

body footer .container .commercial {
    text-align: center;
    font-size: 1.4rem;
    font-weight: 300
}

body footer .container .text-right a {
    font-size: 1.4rem;
    color: #fff;
    font-weight: 300
}

body .abs {
    background-image: url(../img/footer.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    width: 100%;
    margin: auto;
    height: 340px
}

a:active,
a:focus,
button:active,
button:focus,
input:active,
input:focus {
    outline: 0
}

@media (max-width:1200px) {
    header nav ul li:first-child {
        padding-right: 20px!important
    }
    header nav ul .zag {
        margin-left: 20px!important
    }
    header nav ul li * {
        font-size: 1.4rem!important;
        letter-spacing: -1px
    }
    header nav ul li a .logo {
        font-size: 1.5rem!important
    }
    header nav ul p.callback {
        margin-left: 120px!important;
        margin-right: 120px
    }
    header nav ul .text-right {
        width: 170px!important
    }
    .content .line2,
    .content .width {
        width: 100%!important
    }
    .content .line2 {
        height: 1px;
        background: rgba(255, 255, 255, 0);
        background: -webkit-linear-gradient(0deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, .5), rgba(255, 255, 255, 0));
        background: linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, .5), rgba(255, 255, 255, 0));
        margin-left: auto;
        margin-right: auto
    }
    .content h1 {
        font-size: 3.2rem!important
    }
    .content .width .plach {
        vertical-align: top
    }
    .content .width .plach img {
        height: 60px;
        vertical-align: top
    }
    .nextblock .fades2 .block .answers label {
        width: 46%!important
    }
    .nextblock .fades2 .block .answers .text {
        width: 210px!important
    }
    .nextblock .fades5 .block .answers label {
        width: 46%!important
    }
    .nextblock .fades5 .block .answers .text {
        width: 210px!important
    }
    .nextblock .fades6 .block .answers label {
        width: 46%!important
    }
    .nextblock .fades6 .block .answers .text {
        width: 210px!important
    }
    .nextblock .fades7 .text {
        margin-top: 30px!important
    }
    .nextblock .form .zag {
        font-size: 2rem!important
    }
    .nextblock .form input {
        width: 170px!important
    }
    .nextblock .form button {
        width: 220px!important
    }
}

@media (max-width:991px) {
    header nav ul .zag,
    header nav ul p.callback {
        margin-left: 20px!important
    }
    header nav ul li:first-child {
        padding-right: 20px!important
    }
    header nav ul li * {
        font-size: 1.4rem!important;
        letter-spacing: -1px
    }
    header nav ul li a .logo {
        font-size: 1.5rem!important
    }
    header nav ul p.callback {
        margin-right: 0
    }
    header nav ul .text-right {
        width: 170px!important
    }
    .content .width,
    .nextblock .fades2 .block .answers label {
        width: 100%!important
    }
    .content h1 {
        font-size: 3.2rem!important
    }
    .content .width .plach {
        vertical-align: top
    }
    .content .width .plach .name {
        font-size: 1.3rem
    }
    .content .width .plach img {
        height: 50px;
        vertical-align: top
    }
    .nextblock h3 {
        font-size: 2.4rem!important
    }
    .nextblock .fades2 .block .answers .text {
        width: 210px!important
    }
    .nextblock .fades5 .block .answers label {
        width: 100%!important
    }
    .nextblock .fades5 .block .answers .text {
        width: 210px!important
    }
    .nextblock .fades6 .block .answers label {
        width: 100%!important
    }
    .nextblock .fades6 .block .answers .text {
        width: 210px!important
    }
    .nextblock .fades7 .text {
        width: 100%!important;
        font-size: 1.8rem!important;
        margin-top: 0!important
    }
    .nextblock .fades7 .text .counternew {
        display: block
    }
    .nextblock .form .zag {
        font-size: 2rem!important
    }
    .nextblock .form input {
        width: 170px!important;
        margin-bottom: 20px
    }
    .nextblock .form button {
        width: 220px!important
    }
}

@media (max-width:767px) {
    .nextblock .fades8 .text,
    footer * {
        text-align: center!important
    }
    .thanks,
    .thanks2 {
        padding: 10px
    }
    .content .nextblock .fades2 .block,
    .nextblock .block {
        padding-left: 0!important
    }
    .thanks .zag,
    .thanks2 .zag {
        font-size: 1.8rem
    }
    header nav .phones a {
        margin-bottom: 0!important
    }
    header nav ul .phone a:nth-child(1) {
        margin-bottom: 2px!important
    }
    header nav ul li:first-child {
        padding-right: 10px!important
    }
    header nav ul .zag {
        margin-left: 20px!important
    }
    header nav ul li * {
        font-size: 1.8rem!important;
        letter-spacing: -1px
    }
    header nav ul li a .logo {
        font-size: 1.5rem!important
    }
    header nav ul p.callback {
        margin-left: 10px!important;
        margin-right: 0
    }
    header nav ul .text-right {
        max-width: 220px!important;
        float: right;   
        margin-top: 26px!important;     
    }




    .content .width,
    .nextblock .fades2 .block .answers label {
        width: 100%!important
    }
    .content {
        padding-top: 40px!important
    }
    .content .callback_next {
        margin-bottom: 100px
    }
    .content h1 {
        font-size: 2rem!important
    }
    .content .cta,
    .content .desc {
        font-size: 1.6rem!important
    }
    .content .width .plach {
        vertical-align: top
    }
    .content .width .plach .name {
        font-size: 1.3rem
    }
    .content .width .plach img {
        height: 50px;
        vertical-align: top
    }
    .content .nextblock .fades2 .block .answers .mybtn_white.block_btn.nexts2 {
        display: block;
        margin-right: auto!important;
        margin-left: auto!important
    }
    .nextblock h3 {
        font-size: 2rem!important
    }
    .nextblock .quest {
        margin-bottom: 40px!important
    }
    .nextblock .fades2 .block .answers .text {
        width: 180px!important
    }
    .nextblock .fades3 .block .answers label {
        width: 100%!important
    }
    .nextblock .fades3 .block .answers .text {
        width: 180px!important
    }
    .nextblock .fades4 .block .answers label {
        width: 100%!important
    }
    .nextblock .fades4 .block .answers .text {
        width: 180px!important
    }
    .nextblock .fades5 .block .answers label {
        width: 100%!important
    }
    .nextblock .fades5 .block .answers .text {
        width: 180px!important;
        margin-left: 0!important;
        font-size: 1.4rem!important
    }
    .nextblock .fades8 form button.mybtn_white#mainbtnpost,
    .nextblock .fades8 form input,
    .nextblock .form button,
    .nextblock .form input {
        max-width: 300px!important;
        margin-left: auto!important;
        margin-right: auto!important
    }
    .nextblock .fades6 .block .answers label {
        width: 100%!important
    }
    .nextblock .fades6 .block .answers .text {
        width: 180px!important
    }
    .nextblock .fades7 .block .answers label {
        width: 100%!important
    }
    .nextblock .fades7 .block .answers .text {
        width: 180px!important
    }
    .nextblock .fades2 label:nth-child(3) .text {
        margin-top: -6px!important
    }
    .nextblock .fades2 .text {
        vertical-align: top!important
    }
    .nextblock .mybtn_white {
        letter-spacing: 0!important;
        font-size: 1.6rem!important
    }
    .nextblock .fades8 .text,
    .nextblock .form .zag {
        font-size: 1.8rem!important
    }
    .nextblock .fades8 .text {
        width: 100%!important;
        margin-top: 20px!important
    }
    .nextblock .fades8 .text .counternew {
        display: block
    }
    .nextblock .fades8 form input {
        width: 100%!important;
        margin-bottom: 20px
    }
    .nextblock .fades8 form button.mybtn_white#mainbtnpost {
        width: 100%!important;
        display: block!important
    }
    .nextblock .form input {
        width: 100%!important;
        margin-bottom: 20px
    }
    .nextblock .form button {
        width: 100%!important
    }
    footer .politics {
        margin-bottom: 15px
    }
    .null2,
    .null3,
    .null4,
    .null5,
    .null6,
    .null7 {
        margin-bottom: 10px!important
    }
    .popup1 {
        padding: 10px!important;
        width: 100%
    }
    .popup1 .zag {
        font-size: 2rem!important
    }

    body header nav ul li {
    padding-top: 0;

}

body header nav ul li:first-child {
    padding-left: 0;
    padding-right: 0;
    max-width: 50%;
    
}

body header nav ul .logo img {
    height:auto;
    width: 100%;
    margin-top: 26px;
    max-width: 126.5px;
}


}

input[name=action] {
    display: none!important
}

.minconf {
    font-size: 14px;
    margin-top: 20px;
    font-weight: 300;
    color: #fff
}

.minconf a {
    color: #fff;
    text-decoration: underline
}

.popup1 .minconf,
.popup1 .minconf a,
.popup2 .minconf,
.popup2 .minconf a,
.popup3 .minconf,
.popup3 .minconf a {
    color: #000
}
.fa.fa-vk{
    color: #fff!important;
    background-color: #48739e;
    padding: 8px 10px;
    border-radius: 6px;
    border: 1px solid #fff;
    margin-left: 1rem;
    font-size: 2rem;
    border-radius: 3px;
    transition: all .3s ease-out;
    cursor: pointer;

}
.fa.fa-odnoklassniki{
    color: #fff!important;
    background-color: #fa932e;
    padding: 8px 14px;
    border-radius: 3px;
    font-size: 2rem;    
    transition: all .3s ease-out;
    cursor: pointer;
      border-radius: 6px;
    border: 1px solid #fff;
}

.fa.fa-vk:hover,
.fa.fa-odnoklassniki:hover{
    opacity: 0.8;
}

i.fa.fa-mobile.header_phone,
i.fa.fa-phone.header_phone{
    font-size: 2rem;
}

i.fa.fa-mobile.header_phone{
    margin-right: 1.5rem;
}

.header_contacts a{
    transition: all .3ms ease-out;
}

.header_contacts a:hover{
    opacity: 0.6;
    text-decoration: none;
}